html, input, textarea, button
	-webkit-font-smoothing: antialiased

body
	text-rendering: optimizeLegibility

p
	margin: 40px 0 0

img
	max-width: 100%
	height: auto

.seo-only
	position: absolute
	top: -9999px
	left: -9999px

.alignleft
	float: left
	margin-top: 10px
	margin-right: 30px
	margin-bottom: 10px
	max-width: 50%

blockquote
	font-style: italic
	border-left: 10px solid #e1e7ea
	padding-left: 20px
	margin: 40px 40px 0

ul, ol
	margin: 40px 0 0

	> li
		margin-top: 10px

strong
	font-weight: 600

.wp-caption
	max-width: 100%

	a
		display: block

.wp-caption-text
	font-size: 14px
	font-style: italic
	text-align: center
	margin-top: 10px
	padding: 0 10px

.size-timetomarket-full-width
	display: block

+bp(gza)
	html
		font-size: 16px

	h1
		font-size: 26px

	h2, h3, h4
		margin: 20px 0 -15px
		font-size: 20px

	h3
		font-size: 16px

	p
		margin-top: 20px

	blockquote
		margin: 20px 20px 0
		padding-left: 10px
		border-left-width: 5px