.blog-home
	padding-left: 10px
	margin-left: 10px
	border-left: 1px solid $primary-color
	font-weight: 400
	position: absolute
	top: 50%
	left: 180px
	+translateY(-50%)
	white-space: nowrap

	a
		font-weight: 400