.section-title
	font-size: 54px
	font-weight: 300
	color: $primary-color
	text-align: center
	padding-bottom: 40px
	border-bottom: 1px solid #e1e7ea
	margin-top: 40px

	+bp(gza)
		font-size: 27px
		margin-top: 20px
		padding-bottom: 20px