.main-header
	position: absolute
	top: 0
	width: 100%
	height: 82px

	.wrapper
		position: relative
		height: 82px

	+e(logo)
		position: absolute
		top: 50%
		left: $gutter
		+translateY(-50%)

		.logo
			float: left

	+e(nav)
		position: absolute
		right: $gutter
		top: 50%
		+translateY(-50%)
		font-size: 12px
		line-height: 32px
		@extend %clearfix

		+e(item)
			margin-left: 10px
			float: left

	+bp(gza)
		height: 46px

		.wrapper
			height: 46px

		+e(logo)
			left: 10px

		+e(nav)
			right: 10px