.main-header
	position: relative
	width: 100%
	height: 82px

	.wrapper
		position: relative
		height: 82px

	+e(logo)
		position: absolute
		top: 50%
		left: $gutter
		+translateY(-50%)

	+e(nav)
		position: absolute
		right: $gutter
		top: 50%
		+translateY(-50%)
		font-size: 12px
		line-height: 32px
		@extend %clearfix

		+e(item)
			margin-left: 10px
			float: left

	@media (max-width: 830px)
		top: 12px

	@media (max-width: 600px)
		+e(nav)
			line-height: 22px
			font-size: 10px